// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

#footer {
    background-color: #5c755e;
    margin: 10px;
    height: 60px;
    clear: both;
    border-radius: 5px;
}