// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// 

#header {
    background-color: #5c755e;
    margin: 10px;
    height: 90px;
    border-radius: 5px;
}

#navbar {
    background-color: #5c755e;
    margin: 10px;
    height: 35px;
    border-radius: 5px;
}